:root {
    /* Defined Colors */
    --opq-red: rgba(255, 51, 51, 0.8);

    /* Element Variables */
    --bg-aside: #000000;
    --bd-aside: #9c2010;
    --sh-aside: #d3513a;
    --sb-track: #ffffff;
    --sb-scrollbar: #ff4800;
    --sb-thumb: #fff;
}

* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
    text-align: justify;
}

body {
    display: flex;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}


div {
    display: flex;
    flex-direction: column;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
}

a {
    display: block;
    text-decoration: none;
}

/*-_-_-_-_-_-_-_-_-_-_ NAV BAR SECTION  -_-_-_-_-_-_-_-_-_-_*/
#NAVBAR {
    flex: 0 0 350px;
    position: sticky;
    top: 0;
    padding: 64px 28px;
    overflow-y: auto;
    background-color: var(--bg-aside);
    border-right: 2px ridge var(--bd-aside);
    box-shadow: 4px 0 8px 0 var(--sh-aside);
}

/*. . . . . . . . . . SIMPLEBAR */
.simplebar-track {
    background-color: var(--sb-track);
    border-radius: 10px;
    width: 8px !important;
}
.simplebar-scrollbar {
    background-color: var(--sb-scrollbar);
    border-radius: 10px;
}
.simplebar-thumb.simplebar-visible {
    background-color: var(--sb-thumb);
}
/*. . . . . . . . . . HEADER */
header {
    display: block;
    font-family: 'Major Mono Display', monospace;
    margin-bottom: 16px;
}

.title {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title img {
    width: 30px;
    height: 30px;
}

.subtitle {
    flex-direction: row;
    justify-content: space-between;
}

/*-_-_-_-_-_-_-_-_-_-_ MAIN CONTENT     -_-_-_-_-_-_-_-_-_-_*/
.tab-content {
    display: block;
    background-color: #d3513a;
}