:root {
    --bg-aside: #83250d;
    --sh-aside: #db523a;
}

* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
    word-break: break-word;
}

body {
    display: flex;
    width: 100%;
}

div {
    display: flex;
}

button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
}

a {
    display: block;
    text-decoration: none;
}

/*-_-_-_-_-_-_-_-_-_-_ NAV BAR SECTION  -_-_-_-_-_-_-_-_-_-_*/
aside {
    display: block;
    flex: 0 0 20vw;
    position: sticky;
    top: 0;
    height: 100%;
    overflow-y: auto;
    background-color: var(--bg-aside);
    box-shadow: 4px 0 8px 0 var(--sh-aside);
}

#tab-BUTTONS {
    flex-flow: column;
}
/*-_-_-_-_-_-_-_-_-_-_ MAIN CONTENT     -_-_-_-_-_-_-_-_-_-_*/
.tab-content {
    flex-flow: column;
}